In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
chronic_df = pd.read_csv("kidney_disease.csv")

In [3]:
chronic_df.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [4]:
# checking info of columns and null value
chronic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              400 non-null    int64
 1   age             391 non-null    float64
 2   bp              388 non-null    float64
 3   sg              353 non-null    float64
 4   al              354 non-null    float64
 5   su              351 non-null    float64
 6   rbc             248 non-null    object
 7   pc              335 non-null    object
 8   pcc             396 non-null    object
 9   ba              396 non-null    object
 10  bgr             356 non-null    float64
 11  bu              381 non-null    float64
 12  sc              383 non-null    float64
 13  sod             313 non-null    float64
 14  pot             312 non-null    float64
 15  hemo            348 non-null    float64
 16  pcv             330 non-null    object
 17  wc              295 non-null    object
 18  rc              270 non-null    object
 19  htn             398 non-null    object
 20  dm              398 non-null    object
 21  cad             398 non-null    object
 22  appet           399 non-null    object
 23  pe              399 non-null    object
 24  ane             399 non-null    object
 25  classification  400 non-null    object
dtypes: float64(11), int64(1), object(14)
memory usage: 81.4+ KB

DATA CLEANING

In [5]:
chronic_df = chronic_df.drop('id',axis=1)
chronic_df.head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [6]:
chronic_df.columns = ['age', 'blood_pressure', 'specific_gravity', 'albumin', 'sugar', 'red_blood_cells','pus_cell',
 'pus_cell_clumps', 'bacteria', 'blood_glucose_random', 'blood_urea', 'serum_creatinine', 'sodium',
 'potassium', 'haemoglobin', 'packed_cell_volume', 'white_blood_cell_count','red_blood_cell_count',
 'hypertension', 'diabetes_mellitus', 'coronary_artery_disease', 'appetite', 'peda_edema',
 'aanemia', 'class']

In [7]:
chronic_df.head()

,age,blood_pressure,specific_gravity,albumin,sugar,red_blood_cells,pus_cell,pus_cell_clumps,bacteria,blood_glucose_random,...,packed_cell_volume,white_blood_cell_count,red_blood_cell_count,hypertension,diabetes_mellitus,coronary_artery_disease,appetite,peda_edema,aanemia,class
0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [8]:
#categorical cols like specific_gravity, albumin and sugar which is flot type write now
#converting back to nominal data type categorical
chronic_df[['specific_gravity', 'albumin', 'sugar']] = chronic_df[['specific_gravity', 'albumin', 'sugar']].astype('object')

In [9]:
chronic_df['packed_cell_volume'] = pd.to_numeric(chronic_df['packed_cell_volume'], errors='coerce')
chronic_df['white_blood_cell_count'] = pd.to_numeric(chronic_df['white_blood_cell_count'], errors='coerce')
chronic_df['red_blood_cell_count'] = pd.to_numeric(chronic_df['red_blood_cell_count'], errors='coerce')

In [10]:
cat_col = [col for col in chronic_df.columns if chronic_df[col].dtype =='object']
num_col = [col for col in chronic_df.columns if chronic_df[col].dtype !='object']

In [11]:
cat_col

['specific_gravity',
 'albumin',
 'sugar',
 'red_blood_cells',
 'pus_cell',
 'pus_cell_clumps',
 'bacteria',
 'hypertension',
 'diabetes_mellitus',
 'coronary_artery_disease',
 'appetite',
 'peda_edema',
 'aanemia',
 'class']

In [12]:
num_col

['age',
 'blood_pressure',
 'blood_glucose_random',
 'blood_urea',
 'serum_creatinine',
 'sodium',
 'potassium',
 'haemoglobin',
 'packed_cell_volume',
 'white_blood_cell_count',
 'red_blood_cell_count']

In [13]:
for col in cat_col:
    print(f"{col} has {chronic_df[col].unique()} values\n")

specific_gravity has [1.02 1.01 1.005 1.015 nan 1.025] values

albumin has [1.0 4.0 2.0 3.0 0.0 nan 5.0] values

sugar has [0.0 3.0 4.0 1.0 nan 2.0 5.0] values

red_blood_cells has [nan 'normal' 'abnormal'] values

pus_cell has ['normal' 'abnormal' nan] values

pus_cell_clumps has ['notpresent' 'present' nan] values

bacteria has ['notpresent' 'present' nan] values

hypertension has ['yes' 'no' nan] values

diabetes_mellitus has ['yes' 'no' ' yes' '\tno' '\tyes' nan] values

coronary_artery_disease has ['no' 'yes' '\tno' nan] values

appetite has ['good' 'poor' nan] values

peda_edema has ['no' 'yes' nan] values

aanemia has ['no' 'yes' nan] values

class has ['ckd' 'ckd\t' 'notckd'] values

In [14]:
chronic_df['diabetes_mellitus'].replace({'yes':'yes', '\tno':'no', '\tyes':'yes'},inplace=True)
chronic_df['coronary_artery_disease'].replace({'\tno': 'no'}, inplace=True)
chronic_df['class'].replace({'ckd\t': 'ckd'}, inplace=True)

In [15]:
chronic_df['class'] = chronic_df['class'].map({'ckd':0, 'notckd':1})
chronic_df['class'] = pd.to_numeric(chronic_df['class'], errors='coerce')

In [16]:
chronic_df.head()

,age,blood_pressure,specific_gravity,albumin,sugar,red_blood_cells,pus_cell,pus_cell_clumps,bacteria,blood_glucose_random,...,packed_cell_volume,white_blood_cell_count,red_blood_cell_count,hypertension,diabetes_mellitus,coronary_artery_disease,appetite,peda_edema,aanemia,class
0,48.0,80.0,1.02,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,...,44.0,7800.0,5.2,yes,yes,no,good,no,no,0
1,7.0,50.0,1.02,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,...,38.0,6000.0,NaN,no,no,no,good,no,no,0
2,62.0,80.0,1.01,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,31.0,7500.0,NaN,no,yes,no,poor,no,yes,0
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,32.0,6700.0,3.9,yes,no,no,poor,yes,yes,0
4,51.0,80.0,1.01,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,35.0,7300.0,4.6,no,no,no,good,no,no,0

In [17]:
num_col

['age',
 'blood_pressure',
 'blood_glucose_random',
 'blood_urea',
 'serum_creatinine',
 'sodium',
 'potassium',
 'haemoglobin',
 'packed_cell_volume',
 'white_blood_cell_count',
 'red_blood_cell_count']

EDA

In [ ]:
plt.figure(figsize=(20,12))

for col in num_col:
    sns.displot(chronic_df[col],kind='kde')

In [ ]:
cat_col

In [ ]:
chronic_df[['class']]

In [ ]:
fig, axes = plt.subplots(3, 5, figsize = (16,8))
axes = axes.ravel()

for col,ax in zip(cat_col,axes):
    sns.countplot(data=chronic_df, x=col, ax=ax)
    plt.xlabel(col)
    fig.tight_layout()

In [ ]:

plt.figure(figsize=(15, 8))
sns.heatmap(chronic_df.select_dtypes(include=[np.number]).corr(), annot=True, linewidths=2, linecolor='lightgrey')
plt.show()

In [ ]:
chronic_df.isna().sum().sort_values(ascending=False)

In [ ]:
chronic_df[num_col].isna().sum().sort_values(ascending=False)

In [ ]:
chronic_df[cat_col].isna().sum().sort_values(ascending=False)

Missing Value Treatment

In [ ]:
def random_value_imputation(feature):
    random_sample = chronic_df[feature].dropna().sample(chronic_df[feature].isna().sum())
    random_sample.index = chronic_df[chronic_df[feature].isnull()].index
    chronic_df.loc[chronic_df[feature].isnull(), feature] = random_sample

def impute_mode(feature):
    mode = chronic_df[feature].mode()[0]
    chronic_df[feature] = chronic_df[feature].fillna(mode)

In [ ]:
for col in num_col:
    random_value_imputation(col)

In [ ]:
chronic_df[num_col].isna().sum().sort_values(ascending=False)

In [ ]:
random_value_imputation('red_blood_cells')
random_value_imputation('pus_cell')

In [ ]:
chronic_df[cat_col].isna().sum().sort_values(ascending=False)

In [ ]:
for col in cat_col:
    impute_mode(col)

In [ ]:
chronic_df[cat_col].isna().sum().sort_values(ascending=False)

In [ ]:
chronic_df.head()

In [ ]:
for col in cat_col:
    print(f"{col} has {chronic_df[col].nunique()} categories")

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

for col in cat_col[3:]:
    chronic_df[col] = le.fit_transform(chronic_df[col])

In [ ]:
chronic_df.head()

In [ ]:
x = chronic_df.drop('class', axis=1)
y = chronic_df['class']

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.30, random_state=0)

from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

knn = KNeighborsClassifier()
knn.fit(x_train, y_train)

train_accuracy = accuracy_score(y_train, knn.predict(x_train))
print(f"Training Accuracy of KNN is {train_accuracy}")

test_accuracy = accuracy_score(y_test, knn.predict(x_test))
print(f"Test Accuracy of KNN is {test_accuracy}\n")


test_accuracy = accuracy_score(y_test, knn.predict(x_test))
print(f"Test Accuracy of KNN is {test_accuracy}\n")

print(f"confusion matrix {confusion_matrix(y_test, knn.predict(x_test))}\n")
print(f"classification report{classification_report(y_test, knn.predict(x_test))}")

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

# Create an instance of the DecisionTreeClassifier
dt_classifier = DecisionTreeClassifier()

# Fit the classifier to the training data
dt_classifier.fit(x_train, y_train)

# Predict the labels for training and test data
train_predictions = dt_classifier.predict(x_train)
test_predictions = dt_classifier.predict(x_test)

# Calculate and print the training accuracy
train_accuracy = accuracy_score(y_train, train_predictions)
print(f"Training Accuracy of Decision Tree Classifier: {train_accuracy}")

# Calculate and print the test accuracy
test_accuracy = accuracy_score(y_test, test_predictions)
print(f"Test Accuracy of Decision Tree Classifier: {test_accuracy}\n")

# Print the confusion matrix
print("Confusion Matrix:")
print(confusion_matrix(y_test, test_predictions))

# Print the classification report
print("\nClassification Report:")
print(classification_report(y_test, test_predictions))

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeClassifier


dt_classifier = DecisionTreeClassifier()

# Define the parameter grid
grid_param = {
    'criterion': ['gini', 'entropy'],
    'max_depth': [3, 5, 7],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 3, 5]
}

grid_search = GridSearchCV(estimator=dt_classifier, param_grid=grid_param, cv=5)

grid_search.fit(x_train, y_train)

best_params = grid_search.best_params_
print("Best Parameters:")
print(best_params)

best_model = grid_search.best_estimator_

test_predictions = best_model.predict(x_test)

test_accuracy = accuracy_score(y_test, test_predictions)
print(f"Test Accuracy using the Best Model: {test_accuracy}\n")

print("Classification Report:")
print(classification_report(y_test, test_predictions))